<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sourceCSV" value="C:\Users\msi-laptop\Desktop\jess.csv"/>
    <add key="imageFolder" value="C:\Users\msi-laptop\Source\Repos\AutoClicker\AutoClicker_broadcast2\Data\Images"/>
    <add key="textFolder" value="C:\Users\msi-laptop\Source\Repos\AutoClicker\AutoClicker_broadcast2\Data\Msg"/>
    <add key="exclusion" value="留学生在墨尔本学习交流交友;猫本四川人联盟;墨CBD闲置;墨尔本旅游群; "/>
  </appSettings>
</configuration>